<form #f="ngForm" (ngSubmit)="submit(f)" class="form">

	<ion-row>
		<ion-item>
			<ion-label>
				<ion-icon name="mail" color="tertiary"></ion-icon>
			</ion-label>
			<ion-input type="email" ngModel name="email" placeholder="Email" required></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>
				<ion-icon name="lock" color="tertiary"></ion-icon>
			</ion-label>
			<ion-input type="password" ngModel name="password" placeholder="Password" required></ion-input>
		</ion-item>
	</ion-row>

	<ion-row *ngIf="!isModal()">
		<ion-col text-right>
			<button ion-button small clear color="tertiary" type="button">forgot password?</button>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col>
			<p>Sign in with</p>
			<button ion-button clear type="button">
				<ion-icon name="logo-facebook"></ion-icon>
			</button>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col padding *ngIf="!isModal()">
			<button ion-button outline block round type="button" (click)="openModal('SignUpPage')">Sign up</button>
		</ion-col>
		<ion-col padding>
			<button ion-button round block type="submit" [disabled]="!f.valid">Sign in</button>
		</ion-col>
	</ion-row>

</form>