page-master-list-single {

	.intro {
		background: color($colors, light);
		color: color($colors, tertiary);
		padding: 2rem;
		border-radius: 0.5rem;
	}

	.item {
		background: transparent;
	}

	.list-item--txt {
		font-size: 1.3rem;
	}

	.list-item--key {
		font-weight: bold;
		color: color($colors, tertiary);
	}

	button {
		margin: 0 !important;
	}
}
